.nav_2>ul>li>a{
    border-bottom: 2px solid transparent;
}
.nav_2>ul>li>a:hover{

    background-color:transparent !important;
    border-bottom:2px solid rgb(146, 15, 15);
    color:black !important;
    transition: border-bottom 0.5s ease-in;
  
}

.sub_menu>li>a:hover{

    background-color:rgb(146, 15, 15) !important;
}